OPENAI_API_KEY=PASTE_YOUR_OPENAI_API_KEY_HERE
# Write the database url in the following format: postgresql+psycopg://db_user:db_password@localhost:5432/my_database
DATABASE_URL=PASTE_YOUR_DATABASE_URL_HERE
